@import 'normalize';

// Component stylesheets from dependencies
@import '../node_modules/d2-ui-datatable/css/DataTable';
@import '../node_modules/d2-ui-pagination/css/Pagination';
@import '../node_modules/d2-ui-basicfields/css/BasicFields';
@import '../node_modules/d2-ui-button/css/DefaultButton';
@import '../node_modules/d2-ui-detailsbox/css/DetailsBox';
@import '../node_modules/d2-ui/css/IndicatorExpressionManager';

// Other imports
@import 'susy';

@import '../scss/List/List';

$sidebar-background-color: #F7F7F7;
$sidebar-border-color: #E1E1E1;
$sidebar-border-style: 1px solid;

//Basic for all
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

//Components
@import './SideBar/sidebar';

//App
.app {
  @include container();
}

.sidebar-container {
  @include span(3 of 12);

  background: $sidebar-background-color;
  border-right: $sidebar-border-style $sidebar-border-color;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.sidebar-container--hide-scroll-bar {
  height: 100%;
  margin-right: -2rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 2rem;
}

.main-container {
  @include span(9 of 12 last);
  padding-right: 2rem;
}

//TODO: Distribute

//list
.search-list-items {
  //padding-bottom: 1rem;
}

// Needed to override the inline style set by the component
// scss-lint:disable ImportantRule
.details-box-wrap .sticky {
  left: initial !important;
  margin-right: 2rem;
  margin-top: 2rem;
  width: 22%;
}
