{
    "presets": [
        ["env", { "modules": false }],
        "react",
        "stage-0"
    ],
    "env": {
        "test": {
            "presets": ["env", "react", "stage-0"],
            "only": [
                "src/*.js",
                "src/**/*.js",
                "config/*.js"
            ],
            "plugins": [
                "babel-plugin-dynamic-import-node"
            ]
        }
    }
}
