{
    "extends": "dhis2",
    "env": {
        "browser": true,
        "mocha": true,
        "jest": true,
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}
