.d2

*.iml
.idea/*
.vscode/*

node_modules*
.sass-cache
src/css/*
coverage/*
.nyc_output/

manifest.webapp

# TODO: Jshint is a dependency of the git hook which installs these files on install...
.jshintignore
.jshintrc

# Build folders 'build' for building the project 'target' being for the Maven deploy
build/*
target/*

npm-debug.log
yarn-error.log
stats.json
package-lock.json

.classpath
.project
.settings/

# System files
.DS_Store
