*.iml
.idea/*

node_modules*
.sass-cache
src/css/*
coverage/*
manifest.webapp

# TODO: Jshint is a dependency of the git hook which installs these files on install...
.jshintignore
.jshintrc

# Build folders 'build' for building the project 'target' being for the Maven deploy
build/*
target/*

npm-debug.log
stats.json
