<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DHIS 2 Maintenance</title>

    <link rel="shortcut icon" href="../favicon.ico">

    <style type="text/css">
        body {
            margin: 0;
        }

        .multi-select select{
            display: block;
        }
    </style>
</head>
<body>
    <div id="app" class="app"></div>

    <% if (process.env.NODE_ENV === 'production') { %>
    <script src="./vendor/ckeditor/ckeditor.js"></script>
    <% } %> <% if (process.env.NODE_ENV !== 'production') { %>
    <script src="./node_modules/ckeditor/ckeditor.js"></script>
    <% } %>
    <%= htmlWebpackPlugin.options.serviceWorkerScript %>
</body>
</html>
