@import 'susy';

.list {
  color: inherit;
}

.data-table-wrap {
  transition: width .2s linear;
  transition-delay: .1s;
  width: 100%;

  &.smaller {
    @include span(6 of 9);
  }
}

.details-box-wrap.show-as-column {
  @include span(3 of 9 last);

  opacity: 1;
}
