.icon-picker {
    &__content {
        width: 80vw !important;
        max-width: 1200px !important;
    }
    
    &__title {
        padding-bottom: 0 !important;
    }
    
    &__body {
        overflow-x: hidden;
        padding: 0 !important;
        position: relative;
    }
    
    &__actions {
        border-top: 1px solid #bdbdbd !important;
        text-align: left !important;
        padding: 1rem 24px 24px 24px !important;

        > div {
            width: 10rem !important;

            &:first-child {
                margin-right: 1rem;
            }
        }
    }
    
    &__icon-button-image {
        width: 36px;
        float: left;
    }

    &__filter-bar {
        display: flex;
        justify-content: space-between;
        margin-top: -12px;
        padding: 0 24px 6px 24px;
        border-bottom: 1px solid #bdbdbd;
    }

    &__filter-button-wrap {
        display: inline-flex;
        padding-top: 29px;
    }

    &__scroll-box {
        // This takes into account the primary and secundary header, 
        // footer and space above and below the dialog
        height: calc(100vh - 320px);
        max-height: 1200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 24px;
        padding-right: 24px;
    }

    &__list-loader {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon-list {
        display: flex;
        flex-flow: wrap;
    }

    &__icon {
        opacity: 1;
        transition: opacity 0.3s ease-in;
        border: 3px solid transparent;
        width: 60px;
        height: 60px;
        cursor: pointer;
        margin: 4px;

        &[data-loading] {
            opacity: 0;
        }

        &--selected {
            border: 3px solid #64acf5;
        }
    }
}
