.swatches-picker > div > div:last-child > div > div {
    display: flex;
    flex-direction: column;

    > div {
      width: 320px !important;

      > span {
        display: inline-block;
        height: 100%;

        > div {
          float: left;
        }
      }
    }
  }
