.sql-view__header {
	 display: flex;
	 flex-direction: row;
	 margin-bottom: 1rem;
	 justify-content: space-between;
	 align-items: center;
}

.sql-view__content {
	 overflow: scroll;
	 max-height: calc(100vh - 12rem - 83px);
}

.sql-view__dropdown-button {
	 margin-top: 1rem;
}

.sql-view__table {
	 text-align: left;
	 border-collapse: collapse;
	 width: 100%;
}

.sql-view__table th, .sql-view__table td {
	 border-bottom: 1px solid #e0e0e0;
	 padding: 4px 8px;
}

.sql-view__table th {
	 border-bottom-width: 2px;
	 text-transform: capitalize;
	 padding-top: 8px;
	 padding-bottom: 8px;
}
