.data-table {
	 background-color: #fff;
	 border-spacing: 0;
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
	 color: #212121;
	 display: table;
	 margin-bottom: 2rem;
	 max-width: 100%;
	 width: 100%;
}
 .data-table__rows {
	 display: table-row-group;
}

