.data-table-pager--buttons {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  list-style: none;
  padding: 0;
  text-align: right;

  li {
    display: inline-block;
  }

  .data-table-pager--previous-page,
  .data-table-pager--next-page {
    padding: 0;

    i {
      border-radius: 100%;
      cursor: pointer;
      margin: .5rem;
      padding: .5rem;
    }

    .data-table-pager--previous-page__disabled,
    .data-table-pager--next-page__disabled {
      color: #CCC;
    }
  }

  .data-table-pager--page-info {
    line-height: 24px;
    padding: 1rem;
    text-align: center;
    vertical-align: top;
  }
}
