$sidebar--background-color: #F7F7F7;
$sidebar--border-color: #E1E1E1;
$sidebar--border-style: 1px solid;
$sidebar--item--text-color: #303030;
$sidebar--item--hover-color: #EEE;
$left-bar-width: 256px;

.sidebar {
  width: $left-bar-width;
  float: left;
  position: fixed;
  margin-top: 16px;
  bottom: 0;
  top: 0;
  left: 0;
  padding-top: 2rem;
  overflow-y: auto;

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    border-bottom: $sidebar--border-style $sidebar--border-color;

    &:hover {
      background: $sidebar--item--hover-color;
    }
  }

  a {
    color: $sidebar--item--text-color;
    display: block;
    text-decoration: none;
  }
}
